.header {
    width: 80%;
    &__name{
        background-color: $color-secundary;
        padding: 10px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: $title-size-xl;
        font-weight: normal;
        text-align: center;
        border: 2px solid $color-primary;
        border-radius: 0.8rem;
        
    }
}