.section-plate {
    background-color: $bg-color-secondary;
    width: 90%;
    height: 220px;
    margin: 0 auto;
    border: 1px solid $bg-color-secondary;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    &__title {
        font-size: $title-size-l;
    }
    &__ulist {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__li {
        list-style: none;
        padding-bottom: 10px;
    }
}


.section-socials {
    background-color: $bg-color-secondary;
    width: 90%;
    height: 120px;
    margin: 0 auto;
    border: 1px solid $bg-color-secondary;
    border-radius: 20px;
    &__title {
        text-align: center;
        font-size: $title-size-l;
    }
    &__ulist {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__li {
        list-style: none;
    }
}