.section-plate{
    display: flex;
    justify-content: center;   
    align-items: center; 
    background-color: #ccc;
    margin-bottom: 20px;
}

.section-socials {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #ccc;
}