
$title-size-xl: 3rem;
$title-size-l: 2.25rem;

$color-primary: red;
$color-primary-alt: rgb(238, 118, 118);
$color-secundary: aquamarine;
$color-secundary-alt: rgb(198, 235, 223);

$font-pacific: "Pacifico", cursive;
