@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap");
body {
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 80%;
  background-color: aquamarine;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  border-radius: 0.8rem;
}
.footer__paragraph {
  width: 100%;
  padding: 1.4rem;
  font-family: "Pacifico", cursive;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
}

.header {
  width: 80%;
  margin: 0 auto;
}
.header__name {
  background-color: aquamarine;
  padding: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  border: 2px solid red;
  border-radius: 0.8rem;
}

.list {
  width: 12rem;
  background-color: papayawhip;
  padding: 1rem;
  border: 2px solid red;
  border-radius: 1.8rem;
}

.list__title {
  font-family: "Pacifico", cursive;
  font-size: 1.6rem;
  font-weight: regular;
  text-align: center;
}

.list__li {
  list-style: none;
}

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__description {
  text-align: center;
}

.main__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}