.section-plate{
    display: flex;
    // background-color: rgb(255, 255, 255);
    color: chocolate;
    &__title{
        font-size: 30px;
        };
        &__ulist{
            font-size: 30px;
        }       
}
.section-socials{
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: white;
    color: coral;
    &__title{
        color: green;
        font-size: 30px;
    }
    &__ulist{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        font-size: 25px;
        gap: 5rem;
        padding: 15px;
        margin: 15px;
        }
}